%h1 Products
=link_to 'New product', new_user_product_path, class: 'btn btn-default'

%table.table.table-striped
  %tr
    %th Name
    %th Url
    %th Actions
  -@products.each do |product|
    %tr
      %td= product.name
      %td= product.url
      %td
        = link_to 'Edit', edit_user_product_path(product)
        = link_to 'Delete', user_product_path(product), method: :delete, data: {confirm: 'Are you sure?'}
