%h1 Orders

%table.table.table-striped
  %tr
    %th State
    %th Closed at
    %th Actions
  - @orders.each do |order|
    %tr
      %td= order.state
      %td= order.closed_at
      %td= link_to 'Show', orderer_order_path(order)
