%h1 Open order items

%table.table.table-striped
  %tr
    %th Name
    %th Url
    %th Quantity
    %th User
    %th Actions
  - @order_items.each do |order_item|
    %tr
      %td= order_item.product.name
      %td= link_to order_item.product.url, order_item.product.url, target: '_blank'
      %td= order_item.quantity
      %td= order_item.user.email
      %td
